.wrapper {
  height: 100%;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);

  width: 2880px;
  height: 512px;
  background: url("assets/images/background-day.png") repeat-x 0 0;
  /* background-repeat: repeat-x; */
  animation: moving 3s infinite;
  animation-timing-function: linear;
}

@keyframes moving {
  100% { 
    transform: translateX(-288px)
    /* background-position: -66.6666% 0;   */
  }
}